# EDA: Feature Engineering

Description: Engineering features to further refine our data, and ready it for Preprocessing.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../data/final_dataframe.csv', index_col=0, parse_dates=True)

In [3]:
df.head()

,Trap,Species,NumMosquitos,WnvPresent,Day_length,Tmax,Tmin,Tavg,ResultSpeed,ResultDir,...,Heat,Depart,DewPoint,Cool,CodeSum,PrecipTotal,StnPressure,Latitude,Longitude,Month
0,T002,CULEX PIPIENS/RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,0.0,10,53.45788,10.5,BR HZ,0.0,29.415,41.954690,-87.800991,5
1,T002,CULEX RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,0.0,10,53.45788,10.5,BR HZ,0.0,29.415,41.954690,-87.800991,5
2,T007,CULEX RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,0.0,10,53.45788,10.5,BR HZ,0.0,29.415,41.994991,-87.769279,5
3,T015,CULEX PIPIENS/RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,0.0,10,53.45788,10.5,BR HZ,0.0,29.415,41.974089,-87.824812,5
4,T015,CULEX RESTUANS,4,0,53760,88.0,62.5,75.5,5.8,17.0,...,0.0,10,53.45788,10.5,BR HZ,0.0,29.415,41.974089,-87.824812,5

**Adding Rolling & Expanded Means for Features -w- Shifted Dates**

In [4]:
df['Day_length_exp'] = df['Day_length'].expanding().mean()

In [5]:
df['Tavg_shift'] = df['Tavg'].rolling(1).mean().shift(7)
df.loc[0:6, 'Tavg_shift'] = df.loc[7, 'Tavg_shift']

In [6]:
df['Heat_exp'] = df['Heat'].expanding().mean()

In [7]:
df['Cool_shift'] = df['Cool'].rolling(1).mean().shift(7)
df.loc[0:6, 'Cool_shift'] = df.loc[7, 'Cool_shift']

In [8]:
df['Tmax_shift'] = df['Tmax'].rolling(1).mean().shift(7)
df.loc[0:6, 'Tmax_shift'] = df.loc[7, 'Tmax_shift']

In [9]:
df['Tmin_shift'] = df['Tmin'].rolling(1).mean().shift(10)
df.loc[0:9, 'Tmin_shift'] = df.loc[10, 'Tmin_shift']

In [10]:
df['Depart_shift'] = df['Depart'].rolling(1).mean().shift(7)
df.loc[0:6, 'Depart_shift'] = df.loc[7, 'Tmin_shift']

In [11]:
df['ResultSpeed_shift'] = df['ResultSpeed'].rolling(1).mean().shift(28)
df.loc[0:27, 'ResultSpeed_shift'] = df.loc[28, 'ResultSpeed_shift']

In [12]:
df['ResultDir_exp'] = df['ResultDir'].expanding().mean()

In [13]:
df['PrecipTotal_exp'] = df['PrecipTotal'].expanding().mean()

In [14]:
# df['WetBulb_exp'] = df['WetBulb'].expanding().mean()

**Checking Resultant DataFrame**

In [15]:
df.head()

,Trap,Species,NumMosquitos,WnvPresent,Day_length,Tmax,Tmin,Tavg,ResultSpeed,ResultDir,...,Day_length_exp,Tavg_shift,Heat_exp,Cool_shift,Tmax_shift,Tmin_shift,Depart_shift,ResultSpeed_shift,ResultDir_exp,PrecipTotal_exp
0,T002,CULEX PIPIENS/RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,53760.0,75.5,0.0,10.5,88.0,62.5,62.5,5.8,17.0,0.0
1,T002,CULEX RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,53760.0,75.5,0.0,10.5,88.0,62.5,62.5,5.8,17.0,0.0
2,T007,CULEX RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,53760.0,75.5,0.0,10.5,88.0,62.5,62.5,5.8,17.0,0.0
3,T015,CULEX PIPIENS/RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,53760.0,75.5,0.0,10.5,88.0,62.5,62.5,5.8,17.0,0.0
4,T015,CULEX RESTUANS,4,0,53760,88.0,62.5,75.5,5.8,17.0,...,53760.0,75.5,0.0,10.5,88.0,62.5,62.5,5.8,17.0,0.0

In [16]:
df.shape

(8643, 32)

In [17]:
df.shape

(8643, 32)

In [18]:
df.head()

,Trap,Species,NumMosquitos,WnvPresent,Day_length,Tmax,Tmin,Tavg,ResultSpeed,ResultDir,...,Day_length_exp,Tavg_shift,Heat_exp,Cool_shift,Tmax_shift,Tmin_shift,Depart_shift,ResultSpeed_shift,ResultDir_exp,PrecipTotal_exp
0,T002,CULEX PIPIENS/RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,53760.0,75.5,0.0,10.5,88.0,62.5,62.5,5.8,17.0,0.0
1,T002,CULEX RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,53760.0,75.5,0.0,10.5,88.0,62.5,62.5,5.8,17.0,0.0
2,T007,CULEX RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,53760.0,75.5,0.0,10.5,88.0,62.5,62.5,5.8,17.0,0.0
3,T015,CULEX PIPIENS/RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,53760.0,75.5,0.0,10.5,88.0,62.5,62.5,5.8,17.0,0.0
4,T015,CULEX RESTUANS,4,0,53760,88.0,62.5,75.5,5.8,17.0,...,53760.0,75.5,0.0,10.5,88.0,62.5,62.5,5.8,17.0,0.0

In [19]:
df.columns

Index(['Trap', 'Species', 'NumMosquitos', 'WnvPresent', 'Day_length', 'Tmax',
       'Tmin', 'Tavg', 'ResultSpeed', 'ResultDir', 'AvgSpeed', 'Sunset',
       'Heat', 'Depart', 'DewPoint', 'Cool', 'CodeSum', 'PrecipTotal',
       'StnPressure', 'Latitude', 'Longitude', 'Month', 'Day_length_exp',
       'Tavg_shift', 'Heat_exp', 'Cool_shift', 'Tmax_shift', 'Tmin_shift',
       'Depart_shift', 'ResultSpeed_shift', 'ResultDir_exp',
       'PrecipTotal_exp'],
      dtype='object')

In [20]:
df.to_csv('../data/final_dataframe_features.csv')