# 07 EDA: Feature Engineering

Description: Engineering features to further refine our data, and ready it for Preprocessing.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../data/final_dataframe.csv', index_col=0, parse_dates=True)

In [3]:
df.head()

,Trap,Species,NumMosquitos,WnvPresent,Day_length,Tmax,Tmin,Tavg,ResultSpeed,ResultDir,...,Depart,DewPoint,WetBulb,Cool,CodeSum,PrecipTotal,StnPressure,Latitude,Longitude,Month
0,T002,CULEX PIPIENS/RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,10,53.45788,65.5,10.5,BR HZ,0.0,29.415,41.954690,-87.800991,5
1,T002,CULEX RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,10,53.45788,65.5,10.5,BR HZ,0.0,29.415,41.954690,-87.800991,5
2,T007,CULEX RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,10,53.45788,65.5,10.5,BR HZ,0.0,29.415,41.994991,-87.769279,5
3,T015,CULEX PIPIENS/RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,10,53.45788,65.5,10.5,BR HZ,0.0,29.415,41.974089,-87.824812,5
4,T015,CULEX RESTUANS,4,0,53760,88.0,62.5,75.5,5.8,17.0,...,10,53.45788,65.5,10.5,BR HZ,0.0,29.415,41.974089,-87.824812,5

**Adding Rolling & Expanded Means for Features -w- Shifted / Expanded Dates in Prior Notebook**

In [14]:
# df['Day_length_exp'] = df['Day_length'].expanding().mean()
# df['Tavg_shift'] = df['Tavg'].rolling(1).mean().shift(7)
# df.loc[0:6, 'Tavg_shift'] = df.loc[7, 'Tavg_shift']
# df['Heat_exp'] = df['Heat'].expanding().mean()
# df['Cool_shift'] = df['Cool'].rolling(1).mean().shift(7)
# df.loc[0:6, 'Cool_shift'] = df.loc[7, 'Cool_shift']
# df['Tmax_shift'] = df['Tmax'].rolling(1).mean().shift(7)
# df.loc[0:6, 'Tmax_shift'] = df.loc[7, 'Tmax_shift']
# df['Tmin_shift'] = df['Tmin'].rolling(1).mean().shift(10)
# df.loc[0:9, 'Tmin_shift'] = df.loc[10, 'Tmin_shift']
# df['Depart_shift'] = df['Depart'].rolling(1).mean().shift(7)
# df.loc[0:6, 'Depart_shift'] = df.loc[7, 'Tmin_shift']
# df['ResultSpeed_shift'] = df['ResultSpeed'].rolling(1).mean().shift(28)
# df.loc[0:27, 'ResultSpeed_shift'] = df.loc[28, 'ResultSpeed_shift']
# df['ResultDir_exp'] = df['ResultDir'].expanding().mean()
# df['PrecipTotal_exp'] = df['PrecipTotal'].expanding().mean()
# df['WetBulb_exp'] = df['WetBulb'].expanding().mean()

**Adding Consistent Shifted and Rolling Means in line with `Lebl, et al`**

The authors have a well-documented approach in . Given their domain experience, and the fact that their study was also done in Cook County, we'll try modeling with the features they engineered. 

The only departure from their features w

In [72]:
df['Day_length_shift'] = df['Day_length'].rolling(3).mean().shift(28)
df.loc[0:29, 'Day_length_shift'] = df.loc[30, 'Day_length_shift']

df['Tavg_shift'] = df['Tavg'].rolling(3).mean().shift(14)
df.loc[0:15, 'Tavg_shift'] = df.loc[16, 'Tavg_shift']

df['Heat_shift'] = df['Heat'].rolling(3).mean().shift(14)
df.loc[0:15, 'Heat_shift'] = df.loc[16, 'Heat_shift']

df['Cool_shift'] = df['Cool'].rolling(1).mean().shift(14)
df.loc[0:15, 'Cool_shift'] = df.loc[16, 'Cool_shift']

df['Tmax_shift'] = df['Tmax'].rolling(3).mean().shift(14)
df.loc[0:15, 'Tmax_shift'] = df.loc[16, 'Tmax_shift']

df['Tmin_shift'] = df['Tmin'].rolling(3).mean().shift(14)
df.loc[0:15, 'Tmin_shift'] = df.loc[16, 'Tmin_shift']

df['Depart_shift'] = df['Depart'].rolling(3).mean().shift(14)
df.loc[0:15, 'Depart_shift'] = df.loc[16, 'Depart_shift']

df['ResultSpeed_shift'] = df['ResultSpeed'].rolling(1).mean().shift(21)
df.loc[0:20, 'ResultSpeed_shift'] = df.loc[21, 'ResultSpeed_shift']

df['ResultDir_shift'] = df['ResultDir'].rolling(1).mean().shift(21)
df.loc[0:20, 'ResultDir_shift'] = df.loc[21, 'ResultDir_shift']

df['WetBulb_shift'] = df['WetBulb'].rolling(3).mean().shift(14)
df.loc[0:15, 'WetBulb_shift'] = df.loc[16 , 'WetBulb_shift']

**Checking Resultant DataFrame**

In [74]:
df.columns

Index(['Trap', 'Species', 'NumMosquitos', 'WnvPresent', 'Day_length', 'Tmax',
       'Tmin', 'Tavg', 'ResultSpeed', 'ResultDir', 'AvgSpeed', 'Sunset',
       'Sunrise', 'Heat', 'Depart', 'DewPoint', 'WetBulb', 'Cool', 'CodeSum',
       'PrecipTotal', 'StnPressure', 'Latitude', 'Longitude', 'Month',
       'Day_length_shift', 'Tavg_shift', 'Heat_shift', 'Cool_shift',
       'Tmax_shift', 'Tmin_shift', 'Depart_shift', 'ResultSpeed_shift',
       'ResultDir_shift', 'WetBulb_shift'],
      dtype='object')

In [75]:
df.shape

(8643, 34)

In [76]:
df.shape

(8643, 34)

In [77]:
df.head()

,Trap,Species,NumMosquitos,WnvPresent,Day_length,Tmax,Tmin,Tavg,ResultSpeed,ResultDir,...,Day_length_shift,Tavg_shift,Heat_shift,Cool_shift,Tmax_shift,Tmin_shift,Depart_shift,ResultSpeed_shift,ResultDir_shift,WetBulb_shift
0,T002,CULEX PIPIENS/RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,53760.0,75.5,0.0,10.5,88.0,62.5,10.0,5.8,17.0,65.5
1,T002,CULEX RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,53760.0,75.5,0.0,10.5,88.0,62.5,10.0,5.8,17.0,65.5
2,T007,CULEX RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,53760.0,75.5,0.0,10.5,88.0,62.5,10.0,5.8,17.0,65.5
3,T015,CULEX PIPIENS/RESTUANS,1,0,53760,88.0,62.5,75.5,5.8,17.0,...,53760.0,75.5,0.0,10.5,88.0,62.5,10.0,5.8,17.0,65.5
4,T015,CULEX RESTUANS,4,0,53760,88.0,62.5,75.5,5.8,17.0,...,53760.0,75.5,0.0,10.5,88.0,62.5,10.0,5.8,17.0,65.5

In [78]:
df.columns

Index(['Trap', 'Species', 'NumMosquitos', 'WnvPresent', 'Day_length', 'Tmax',
       'Tmin', 'Tavg', 'ResultSpeed', 'ResultDir', 'AvgSpeed', 'Sunset',
       'Sunrise', 'Heat', 'Depart', 'DewPoint', 'WetBulb', 'Cool', 'CodeSum',
       'PrecipTotal', 'StnPressure', 'Latitude', 'Longitude', 'Month',
       'Day_length_shift', 'Tavg_shift', 'Heat_shift', 'Cool_shift',
       'Tmax_shift', 'Tmin_shift', 'Depart_shift', 'ResultSpeed_shift',
       'ResultDir_shift', 'WetBulb_shift'],
      dtype='object')

In [79]:
df.to_csv('../data/final_dataframe_features.csv')