## 01_EDA

JJ's Mission: Clean up the Train & Test Datasets

In [15]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv('../data/train.csv', parse_dates=['Date'])
df_t = pd.read_csv('../data/test.csv', parse_dates=['Date'])

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10506 entries, 0 to 10505
Data columns (total 12 columns):
Date                      10506 non-null datetime64[ns]
Address                   10506 non-null object
Species                   10506 non-null object
Block                     10506 non-null int64
Street                    10506 non-null object
Trap                      10506 non-null object
AddressNumberAndStreet    10506 non-null object
Latitude                  10506 non-null float64
Longitude                 10506 non-null float64
AddressAccuracy           10506 non-null int64
NumMosquitos              10506 non-null int64
WnvPresent                10506 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(5)
memory usage: 985.0+ KB

In [4]:
df.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

In [5]:
df['WnvPresent'].value_counts()

0    9955
1     551
Name: WnvPresent, dtype: int64

In [6]:
df['Date'].value_counts()

2007-08-01    551
2007-08-15    276
2007-08-24    186
2007-08-21    186
2013-08-01    186
2007-10-04    185
2007-08-07    184
2013-07-12    182
2013-07-19    182
2013-08-08    181
2011-07-25    179
2011-07-15    177
2007-09-24    167
2013-08-22    167
2009-07-17    164
2013-08-15    157
2013-07-25    153
2007-07-11    152
2011-07-11    146
2013-09-06    143
2013-08-29    143
2011-08-05    140
2013-09-12    139
2007-08-22    139
2009-07-31    139
2011-09-12    138
2011-07-29    138
2007-08-02    137
2007-09-12    135
2009-08-07    131
             ...
2009-07-27     83
2013-06-07     77
2009-06-05     77
2007-07-02     74
2009-07-13     71
2007-06-26     70
2009-10-01     65
2013-06-27     62
2011-06-10     62
2011-09-01     62
2011-09-30     61
2013-06-28     60
2007-06-05     60
2009-05-28     59
2009-09-03     55
2007-08-17     54
2009-08-27     54
2009-06-22     52
2007-09-06     50
2011-09-02     50
2007-06-29     46
2007-07-19     45
2009-06-15     32
2009-06-29     31
2007-08-09     26
2007-10-09     26
2007-05-29     25
2007-09-25     23
2009-06-03     14
2007-08-03      5
Name: Date, Length: 95, dtype: int64

In [7]:
df['Species'].value_counts()

# plt.hist(df['Species'])

CULEX PIPIENS/RESTUANS    4752
CULEX RESTUANS            2740
CULEX PIPIENS             2699
CULEX TERRITANS            222
CULEX SALINARIUS            86
CULEX TARSALIS               6
CULEX ERRATICUS              1
Name: Species, dtype: int64

**Looking into Mosquito Species**

Culex (from Wikipedia): Culex is a genus of mosquitoes, several species of which serve as vectors of one or more important diseases of birds, humans, and other animals. The diseases they vector include arbovirus infections such as West Nile virus, Japanese encephalitis, or St. Louis encephalitis, but also filariasis and avian malaria. They occur worldwide except for the extreme northern parts of the temperate zone, and are the most common form of mosquito encountered in some major US cities such as Los Angeles. 

Species Bionomics (from http://www.wrbu.org/index.html):

- **CULEX RESTUANS**: The larvae are found in a wide variety of aquatic habitats, such as ditches, pools in streams, woodland pools, and artificial containers. The females are regarded as troublesome biters by some observers, although others say that they rarely bite man. (Carpenter and LaCasse 1955:290)
- **CULEX PIPIENS**:  Larvae are found in numerous and variable breeding places ranging from highly polluted cesspits to clear water pools and containers. This species usually breeds in stagnant water in either shaded or unshaded situations. Females readily attack man both indoors and outdoors (Harbach 1988).
  - Medical Importance:  It has been found naturally infected with Sindbis virus and West Nile viruses in Israel, West Nile and Rift Valley Fever in Egypt, and is a primary vector of periodic Bancroftian filariasis (Harbach 1988).
- **CULEX TERRITANS**: Description- http://vectorbio.rutgers.edu/outreach/species/terr.htm
- **CULEX SALINARIUS**: Description- http://vectorbio.rutgers.edu/outreach/species/sp11a.htm
- **CULEX TARSALIS**: The larvae are found in clear or foul water in a variety of habitats including ditches, irrigation systems, ground pools, marshes, pools in stream beds, rain barrels, hoofprints, and ornamental pools. Foul water in corrals and around slaughter yards appear to be favorite larval habitats in many localities. Cx. tarsalis are biters, attacking at dusk and after dark, and readily entering dwellings for blood meals. Domestic and wild birds seem to be the preferred hosts. and man, cows, and horses are generally incidental hosts. (Carpenter and LaCasse 1955:296)
  - Medical Importance: Culex tarsalis is believed to be the chief vector of western equine encephalitis virus under natural conditions. The virus has been isolated from wild-caught C. tarsalis on several occasions in areas in which the disease was both epidemic and epizoitic. The viruses of both St. Louis and California encephalitis have been isolated from this mosquito. (Carpenter and LaCasse 1955:296) It also a vector of West Nile Virus (Hayes et al. 2005)
- **CULEX ERRATICUS**: The larvae have been found in semipermanent and permanent pools including ditches, floodwater areas, grassy pools, streams, and occasionally in bilge water of boats and other artificial collections of water. (Carpenter and LaCasse 1955:315305)

In [8]:
df['Block'].value_counts().head()

10    1722
11     736
12     605
22     500
13     345
Name: Block, dtype: int64

In [9]:
df['Trap'].value_counts().head()

T900    750
T115    542
T138    314
T002    185
T135    183
Name: Trap, dtype: int64

In [10]:
df['NumMosquitos'].value_counts().head()

1     2307
2     1300
50    1019
3      896
4      593
Name: NumMosquitos, dtype: int64

In [11]:
df['AddressAccuracy'].value_counts()

8    4628
9    3980
5    1807
3      91
Name: AddressAccuracy, dtype: int64

In [12]:
pd.options.display.max_rows = 138
df['AddressNumberAndStreet'].value_counts()

1000  W OHARE AIRPORT, Chicago, IL                  750
1200  S DOTY AVE, Chicago, IL                       542
1000  S STONY ISLAND AVE, Chicago, IL               314
4100  N OAK PARK AVE, Chicago, IL                   185
4200  W 127TH PL, Chicago, IL                       183
2200  N CANNON DR, Chicago, IL                      163
2400  E 105TH ST, Chicago, IL                       160
7000   W ARMITAGE AVENUE, Chicago, IL               156
3700  E 118TH ST, Chicago, IL                       152
1100  S ASHLAND AVE, Chicago, IL                    151
5200  S KOLMAR, Chicago, IL                         148
3500  W 116TH ST, Chicago, IL                       147
5000  S CENTRAL AVE, Chicago, IL                    146
1100  W ROOSEVELT, Chicago, IL                      146
1000  W OHARE, Chicago, IL                          140
7000  N MOSELL AVE, Chicago, IL                     139
3600  N PITTSBURGH AVE, Chicago, IL                 133
1300  S BRANDON, Chicago, IL                        130
1300  S TORRENCE AVE, Chicago, IL                   129
1000  E 67TH ST, Chicago, IL                        128
1000  N CENTRAL PARK DR, Chicago, IL                126
4600  N MILWAUKEE AVE, Chicago, IL                  122
1700  W 95TH ST, Chicago, IL                        121
5800  N WESTERN AVE, Chicago, IL                    117
6700  S KEDZIE AVE, Chicago, IL                     116
3900  S ASHLAND AVE, Chicago, IL                    115
1100  S CALIFORNIA, Chicago, IL                     114
4000  E 130TH ST, Chicago, IL                       112
1000  S COTTAGE GROVE, Chicago, IL                  112
8900  S CARPENTER ST, Chicago, IL                   111
2500  W GRAND AVE, Chicago, IL                      110
5200  W 63RD ST, Chicago, IL                        109
6100  N LEMONT AVE, Chicago, IL                     105
6100  W FULLERTON AVE, Chicago, IL                  104
3700  S PULASKI RD, Chicago, IL                     104
8200  S KOSTNER AVE, Chicago, IL                    103
2200  W 51ST ST, Chicago, IL                        103
5000  S UNION AVE, Chicago, IL                       98
4500  N CAMPBELL AVE, Chicago, IL                    98
2800  N FRANCISCO AVE, Chicago, IL                   98
1400  N HUMBOLDT DR, Chicago, IL                     97
5800  N PULASKI RD, Chicago, IL                      93
2500  S MILLARD AVE, Chicago, IL                     93
7700  S EBERHART AVE, Chicago, IL                    92
1000  S VINCENNES, Chicago, IL                       91
1100  S ARTESIAN AVE, Chicago, IL                    91
4300  N ASHLAND AVE OVERPASS, Chicago, IL            91
3300  W 104TH ST, Chicago, IL                        90
5100  N MONT CLARE AVE, Chicago, IL                  87
2200  W 113TH ST, Chicago, IL                        86
6300  W 64TH ST, Chicago, IL                         86
1100  W CHICAGO, Chicago, IL                         85
7100  S SOUTH SHORE DR, Chicago, IL                  83
2200  W 69TH ST, Chicago, IL                         83
1100  S AVENUE L, Chicago, IL                        83
3500  W 51ST ST, Chicago, IL                         82
9100  W HIGGINS RD, Chicago, IL                      80
1700  N PULASKI RD, Chicago, IL                      80
6500  E 91ST PL, Chicago, IL                         78
6000  W MONTROSE DR, Chicago, IL                     78
9000  W GARFIELD BLVD, Chicago, IL                   77
3300  N RUTHERFORD AVE, Chicago, IL                  74
3700  N KEDVALE AVE, Chicago, IL                     74
7900  S CHICAGO AVE, Chicago, IL                     74
7500  N OAKLEY AVE, Chicago, IL                      69
7200  N OKETO AVE, Chicago, IL                       66
1300  N LARAMIE AVE, Chicago, IL                     65
3000  W 18TH ST, Chicago, IL                         63
1200  W GREENLEAF AVE, Chicago, IL                   63
4200  W 65TH ST, Chicago, IL                         62
3900  N SPRINGFIELD AVE, Chicago, IL                 62
4800  W MONTANA ST, Chicago, IL                      60
1700  W ADDISON ST, Chicago, IL                      54
2200  W 89TH ST, Chicago, IL                         50
1700  N ASHLAND AVE, Chicago, IL                     50
7100  N HARLEM AVE, Chicago, IL                      50
8900  S MUSKEGON AVE, Chicago, IL                    46
5100  W 72ND ST, Chicago, IL                         45
3800  E 115TH ST, Chicago, IL                        45
4000  S DEARBORN ST, Chicago, IL                     44
5800  N RIDGE AVE, Chicago, IL                       42
1500  N LONG AVE, Chicago, IL                        41
1500  W WEBSTER AVE, Chicago, IL                     35
7900  W FOSTER AVE, Chicago, IL                      35
6200  N MCCLELLAN AVE, Chicago, IL                   33
6400  S STONY ISLAND AVE, Chicago, IL                33
1000  W 95TH ST, Chicago, IL                         33
1100  S PEORIA ST, Chicago, IL                       32
6500  N OAK PARK AVE, Chicago, IL                    31
9100  W HIGGINS AVE, Chicago, IL                     31
4200  N RICHMOND ST, Chicago, IL                     31
7300  S CICERO AVE, Chicago, IL                      30
6400  W STRONG ST, Chicago, IL                       30
6800  W BELDEN AVE, Chicago, IL                      29
5300  N STREETER DR, Chicago, IL                     29
1000  S CALIFORNIA AVE, Chicago, IL                  28
3000  S HOYNE AVE, Chicago, IL                       27
4900  W BALMORAL AVE, Chicago, IL                    27
1100  S STATE ST, Chicago, IL                        26
9600  S HOYNE AVE, Chicago, IL                       26
2000  E 111TH ST, Chicago, IL                        25
6000  N AVONDALE AVE, Chicago, IL                    24
4200  W 31ST ST, Chicago, IL                         24
9800  S AVENUE G, Chicago, IL                        23
6200  N MANDELL AVE, Chicago, IL                     23
3800  N CALIFORNIA AVE, Chicago, IL                  23
5300  W AGATITE AVE, Chicago, IL                     22
1800  W FARWELL AVE, Chicago, IL                     22
8100  E 91ST ST, Chicago, IL                         22
1800  W LELAND AVE, Chicago, IL                      21
6600  S KILPATRICK AVE, Chicago, IL                  21
2100  N LAWLER AVE, Chicago, IL                      21
1300  S MACKINAW, Chicago, IL                        21
9300  S DR MARTIN LUTHER KING JR DR, Chicago, IL     21
4700  S CORNELL AVE, Chicago, IL                     20
5200  S NORDICA, Chicago, IL                         20
6100  S MELVINA AVE, Chicago, IL                     19
4000  N AUSTIN AVE, Chicago, IL                      18
8200  E 138TH ST, Chicago, IL                        17
2700  S WESTERN AVE, Chicago, IL                     17
2100  N STAVE ST, Chicago, IL                        17
3300  E RANDOLPH ST, Chicago, IL                     15
4000  N TRIPP AVE, Chicago, IL                       15
2200  W PERSHING RD, Chicago, IL                     15
2500  S THROOP, Chicago, IL                          15
1500  W GRANVILLE AVE, Chicago, IL                   14
8100  W 37TH PL., Chicago, IL                        14
6000  W ROSCOE ST, Chicago, IL                       14
8000  S KEDZIE AVE, Chicago, IL                      13
4900  W SUNNYSIDE AVE, Chicago, IL                   12
2100  N CANNON DR, Chicago, IL                        9
1100  S WALLACE ST, Chicago, IL                       8
6500  S RACINE AVE, Chicago, IL                       8
3400  W 77TH ST, Chicago, IL                          7
9600  S LONGWOOD DR, Chicago, IL                      5
5500  S DR MARTIN LUTHER KING JR DR, Chicago, IL      5
2900  W 85TH ST, Chicago, IL                          3
2100  S HAMLIN AVE, Chicago, IL                       2
Name: AddressNumberAndStreet, dtype: int64

**Examining Test Data**

In [14]:
df_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116293 entries, 0 to 116292
Data columns (total 11 columns):
Id                        116293 non-null int64
Date                      116293 non-null datetime64[ns]
Address                   116293 non-null object
Species                   116293 non-null object
Block                     116293 non-null int64
Street                    116293 non-null object
Trap                      116293 non-null object
AddressNumberAndStreet    116293 non-null object
Latitude                  116293 non-null float64
Longitude                 116293 non-null float64
AddressAccuracy           116293 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(5)
memory usage: 9.8+ MB

In [13]:
df_t.head()

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
2,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
3,4,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX SALINARIUS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
4,5,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TERRITANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9