In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv('../data/dataframe.csv', index_col = 0)

In [21]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [22]:
df.columns

Index(['Address', 'Species', 'Block', 'Street', 'Trap',
       'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy',
       'NumMosquitos', 'WnvPresent', 'Unnamed: 0_x', 'Tmax_x', 'Tmin_x',
       'Tavg_x', 'Depart_x', 'DewPoint_x', 'WetBulb_x', 'Heat_x', 'Cool_x',
       'Sunrise_x', 'Sunset_x', 'CodeSum_x', 'Depth_x', 'PrecipTotal_x',
       'StnPressure_x', 'SeaLevel_x', 'ResultSpeed_x', 'ResultDir_x',
       'AvgSpeed_x', 'Unnamed: 0_y', 'Tmax_y', 'Tmin_y', 'Tavg_y', 'Depart_y',
       'DewPoint_y', 'WetBulb_y', 'Heat_y', 'Cool_y', 'Sunrise_y', 'Sunset_y',
       'CodeSum_y', 'Depth_y', 'PrecipTotal_y', 'StnPressure_y', 'SeaLevel_y',
       'ResultSpeed_y', 'ResultDir_y', 'AvgSpeed_y'],
      dtype='object')

In [23]:
df['PrecipTotal_y'].value_counts()

0.00    6114
0.06     429
0.01     415
0.36     303
0.83     266
0.02     228
0.20     185
0.03     183
0.13     143
0.23     131
0.59     127
0.92     126
0.84     115
0.11     114
0.87      93
0.12      92
0.19      90
0.04      83
0.88      81
0.17      61
0.27      60
0.16      57
0.44      57
1.19      53
0.09      31
0.08      31
0.46      25
Name: PrecipTotal_y, dtype: int64

In [24]:
df.head()

,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,...,Sunrise_y,Sunset_y,CodeSum_y,Depth_y,PrecipTotal_y,StnPressure_y,SeaLevel_y,ResultSpeed_y,ResultDir_y,AvgSpeed_y
Date,,,,,,,,,,,,,,,,,,,,,
2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,...,0,0,BR HZ,0,0.0,29.44,30.09,5.8,16,7.4
2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,...,0,0,BR HZ,0,0.0,29.44,30.09,5.8,16,7.4
2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,...,0,0,BR HZ,0,0.0,29.44,30.09,5.8,16,7.4
2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,...,0,0,BR HZ,0,0.0,29.44,30.09,5.8,16,7.4
2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,...,0,0,BR HZ,0,0.0,29.44,30.09,5.8,16,7.4