# Feature Engineering

Description: Engineering features to further refine our data, and ready it for Preprocessing.

In [30]:
import numpy as np
import pandas as pd

In [31]:
df = pd.read_csv('../data/test_final_dataframe.csv', index_col=0, parse_dates=True)

In [60]:
df.reset_index(inplace=True)

**Adding Rolling & Expanded Means for Features -w- Shifted Dates**

In [33]:
df['Day_length_exp'] = df['Day_length'].expanding().mean()

In [34]:
df['Tavg_shift'] = df['Tavg'].rolling(1).mean().shift(7)

In [35]:
df['Heat_exp'] = df['Heat'].expanding().mean()

In [36]:
df['Cool_shift'] = df['Cool'].rolling(1).mean().shift(7)

In [37]:
df['Tmax_shift'] = df['Tmax'].rolling(1).mean().shift(7)

In [38]:
df['Tmin_shift'] = df['Tmin'].rolling(1).mean().shift(10)

In [39]:
df['Depart_shift'] = df['Depart'].rolling(1).mean().shift(7)

In [40]:
df['ResultSpeed_shift'] = df['ResultSpeed'].rolling(1).mean().shift(28)

In [41]:
df['ResultDir_exp'] = df['ResultDir'].expanding().mean()

In [42]:
df['PrecipTotal_exp'] = df['PrecipTotal'].expanding().mean()

In [64]:
df['WetBulb_exp'] = df['WetBulb'].expanding().mean()

In [62]:
df.loc[0:6, 'Tavg_shift'] = df.loc[7, 'Tavg_shift']

In [67]:
df.loc[0:6, 'Cool_shift'] = df.loc[7, 'Cool_shift']

In [69]:
df.loc[0:6, 'Tmax_shift'] = df.loc[7, 'Tmax_shift']

In [70]:
df.loc[0:9, 'Tmin_shift'] = df.loc[10, 'Tmin_shift']

In [71]:
df.loc[0:6, 'Depart_shift'] = df.loc[7, 'Depart_shift']

In [ ]:
df.loc[]

**Checking Resultant DataFrame**

In [45]:
df.head()

,Id,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,...,Tavg_shift,Heat_exp,Cool_shift,Tmax_shift,Tmin_shift,Depart_shift,ResultSpeed_shift,ResultDir_exp,PrecipTotal_exp,WetBulb_shift
Date,,,,,,,,,,,,,,,,,,,,,
2008-06-11,1,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,18.0,0.0,NaN
2008-06-11,2,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,18.0,0.0,NaN
2008-06-11,3,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,18.0,0.0,NaN
2008-06-11,4,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX SALINARIUS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,18.0,0.0,NaN
2008-06-11,5,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TERRITANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,18.0,0.0,NaN

In [46]:
df.shape

(116293, 39)

In [47]:
df.shape

(116293, 39)

In [48]:
df.columns

Index(['Id', 'Address', 'Species', 'Block', 'Street', 'Trap',
       'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy',
       'Day_length', 'Tmax', 'Tmin', 'Tavg', 'ResultSpeed', 'ResultDir',
       'AvgSpeed', 'Sunset', 'Sunrise', 'Heat', 'Depart', 'DewPoint',
       'WetBulb', 'Cool', 'CodeSum', 'PrecipTotal', 'StnPressure', 'Month',
       'Day_length_exp', 'Tavg_shift', 'Heat_exp', 'Cool_shift', 'Tmax_shift',
       'Tmin_shift', 'Depart_shift', 'ResultSpeed_shift', 'ResultDir_exp',
       'PrecipTotal_exp', 'WetBulb_shift'],
      dtype='object')

In [49]:
df.to_csv('../data/test_final_dataframe_features.csv')