In [ ]:
import numpy as np
import pandas as pd
import pickle
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV, TimeSeriesSplit
from sklearn.ensemble import RandomForestClassifier

In [ ]:
X_train = pd.read_pickle('../assets/X_train.pkl')
X_test = pd.read_pickle('../assets/X_test.pkl')
y_train = pd.read_pickle('../assets/y_train.pkl')
y_test = pd.read_pickle('../assets/y_test.pkl')

In [ ]:
X_train.head()

In [3]:
pipe = Pipeline([
    ('ss',StandardScaler()),
    ('rfc',RandomForestClassifier(n_jobs=3,))   
])

In [6]:
X_train.columns

Index(['Day_length', 'Tmax', 'Tmin', 'Tavg', 'ResultSpeed', 'ResultDir',
       'AvgSpeed', 'Sunset', 'Sunrise', 'Heat', 'Depart', 'DewPoint',
       'WetBulb', 'Cool', 'PrecipTotal', 'StnPressure', 'Latitude',
       'Longitude', 'Month', 'Day_length_exp', 'Tavg_shift', 'Heat_exp',
       'Cool_shift', 'Tmax_shift', 'Tmin_shift', 'Depart_shift',
       'ResultSpeed_shift', 'ResultDir_exp', 'PrecipTotal_exp', 'WetBulb_exp',
       'Species_CULEX ERRATICUS', 'Species_CULEX PIPIENS',
       'Species_CULEX PIPIENS/RESTUANS', 'Species_CULEX RESTUANS',
       'Species_CULEX SALINARIUS', 'Species_CULEX TARSALIS',
       'Species_CULEX TERRITANS'],
      dtype='object')

In [52]:
param_grid =  {
    'rfc__n_estimators': [100],
#     'rfc__min_samples_leaf': [2,4,5,6],
#     'rfc__max_features':['log2','sqrt','auto'],
    'rfc__min_samples_split': [2, 7, 10, 20]
        
}

In [53]:
gs = GridSearchCV(pipe, param_grid=param_grid,verbose=1,scoring='roc_auc', cv=TimeSeriesSplit())

In [54]:
gs.fit(X_train,y_train)

Fitting 3 folds for each of 4 candidates, totalling 12 fits

[Parallel(n_jobs=1)]: Done  12 out of  12 | elapsed:    5.3s finished

GridSearchCV(cv=TimeSeriesSplit(max_train_size=None, n_splits=3),
       error_score='raise',
       estimator=Pipeline(memory=None,
     steps=[('ss', StandardScaler(copy=True, with_mean=True, with_std=True)), ('rfc', RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
         ...n_jobs=3,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False))]),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'rfc__n_estimators': [100], 'rfc__min_samples_split': [2, 7, 10, 20]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='roc_auc', verbose=1)

In [55]:
gs.score(X_train,y_train)

0.996271418560515

In [56]:
gs.score(X_test,y_test)

0.7238152130625248

In [60]:
X_train_preds = gs.predict(X_train)

In [61]:
preds = pd.DataFrame({
    "preds":X_train_preds,
    "truth":y_train
})

In [62]:
preds.sum()

preds     86
truth    261
dtype: int64

In [51]:
gs.best_params_

{'rfc__min_samples_split': 20, 'rfc__n_estimators': 500}

In [36]:
y_train.shape

(6483,)

In [37]:
X_train.shape

(6483, 37)

In [38]:
X_train_preds.shape

(6483,)

In [16]:
preds

      preds  truth
0         0      0
1         0      0
2         0      0
3         0      0
4         0      0
5         0      0
6         0      0
7         0      0
8         0      0
9         0      0
10        0      0
11        0      0
12        0      0
13        0      0
14        0      0
15        0      0
16        0      0
17        0      0
18        0      0
19        0      0
20        0      0
21        0      0
22        0      0
23        0      0
24        0      0
25        0      0
26        0      0
27        0      0
28        0      0
29        0      0
...     ...    ...
6453      0      0
6454      0      0
6455      0      0
6456      0      0
6457      0      0
6458      0      0
6459      0      0
6460      0      0
6461      0      0
6462      0      0
6463      0      0
6464      0      0
6465      0      0
6466      0      0
6467      0      0
6468      0      0
6469      0      0
6470      0      0
6471      0      0
6472      0      0
6473      0      0
6474      0      0
6475      0      0
6476      0      0
6477      0      0
6478      0      1
6479      0      0
6480      0      0
6481      0      0
6482      0      0

[6483 rows x 2 columns]

In [42]:
with open('../assets/random_forest_model_0924_1247.pkl','wb+') as f:
    pickle.dump(gs,f)

## Looking at the feature importances

In [39]:
feat_importances = pd.DataFrame(gs.best_estimator_.named_steps['rfc'].feature_importances_, X_train.columns, columns=['importance'])

In [40]:
feat_importances.sort_values('importance', ascending=False)

                                importance
Heat_exp                          0.123327
PrecipTotal_exp                   0.120967
WetBulb_exp                       0.114792
Longitude                         0.113067
Day_length_exp                    0.109708
ResultDir_exp                     0.104793
Latitude                          0.091445
Species_CULEX PIPIENS             0.017451
ResultSpeed_shift                 0.013871
Species_CULEX PIPIENS/RESTUANS    0.013212
Day_length                        0.012697
WetBulb                           0.011864
ResultDir                         0.011635
Sunrise                           0.011408
Sunset                            0.011086
Tmin_shift                        0.009668
Tavg                              0.009345
Depart_shift                      0.009009
AvgSpeed                          0.008837
Tavg_shift                        0.008265
Cool_shift                        0.008079
Species_CULEX RESTUANS            0.007729
Tmax_shift                        0.007671
Tmax                              0.007430
Tmin                              0.006967
StnPressure                       0.006945
ResultSpeed                       0.006880
Cool                              0.006110
PrecipTotal                       0.004785
Depart                            0.004764
Month                             0.003518
Species_CULEX TERRITANS           0.001927
Heat                              0.000421
Species_CULEX SALINARIUS          0.000322
Species_CULEX TARSALIS            0.000005
Species_CULEX ERRATICUS           0.000000
DewPoint                          0.000000