In [2]:
import pandas as pd

In [20]:
df = pd.read_csv('/spray.csv')

In [21]:
df.shape

(14835, 4)

In [22]:
# df.drop_duplicates(inplace=True)

In [23]:
df.shape

(14835, 4)

In [24]:
df.shape

(14835, 4)

In [25]:
df.dropna(inplace=True)

In [26]:
df.isnull().sum()

Date         0
Time         0
Latitude     0
Longitude    0
dtype: int64

In [27]:
df.shape

(14251, 4)

In [29]:
df["DateTime"] = df.Date + " " + df.Time

In [30]:
df.DateTime.head()

0    2011-08-29 6:56:58 PM
1    2011-08-29 6:57:08 PM
2    2011-08-29 6:57:18 PM
3    2011-08-29 6:57:28 PM
4    2011-08-29 6:57:38 PM
Name: DateTime, dtype: object

In [31]:
df['DateTime']= pd.to_datetime(df['DateTime'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14251 entries, 0 to 14834
Data columns (total 5 columns):
Date         14251 non-null object
Time         14251 non-null object
Latitude     14251 non-null float64
Longitude    14251 non-null float64
DateTime     14251 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 668.0+ KB

In [32]:
df.drop(['Date','Time'],axis=1,inplace=True)

In [34]:
df.head()

    Latitude  Longitude            DateTime
0  42.391623 -88.089163 2011-08-29 18:56:58
1  42.391348 -88.089163 2011-08-29 18:57:08
2  42.391022 -88.089157 2011-08-29 18:57:18
3  42.390637 -88.089158 2011-08-29 18:57:28
4  42.390410 -88.088858 2011-08-29 18:57:38

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14251 entries, 0 to 14834
Data columns (total 3 columns):
Latitude     14251 non-null float64
Longitude    14251 non-null float64
DateTime     14251 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(2)
memory usage: 445.3 KB

In [38]:
df.DateTime.unique()

array(['2011-08-29T18:56:58.000000000', '2011-08-29T18:57:08.000000000',
       '2011-08-29T18:57:18.000000000', ...,
       '2013-09-05T20:35:21.000000000', '2013-09-05T20:35:31.000000000',
       '2013-09-05T20:35:41.000000000'], dtype='datetime64[ns]')

In [15]:
df.to_csv('updated_spray.csv')