## Merging the test data with the clean weather data

In [81]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [82]:
test = pd.read_csv('../data/test_2.csv',index_col=0)
weather = pd.read_csv('../data/clean_weather.csv', index_col=0)

In [83]:
test.reset_index(inplace=True)

In [84]:
df = pd.merge(test, weather, on = 'Date')

In [85]:
df.set_index('Date', inplace=True)

In [86]:
df.index = pd.to_datetime(df.index)

In [87]:
df.drop('PrecipTotal', axis=1, inplace=True)

Adding a column for month like in the train data

In [88]:
df['Month'] = df.index.map(lambda x: x.month)

In [89]:
df.columns

Index(['Id', 'Address', 'Species', 'Block', 'Street', 'Trap',
       'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy',
       'Day_length', 'Tmax', 'Tmin', 'Tavg', 'ResultSpeed', 'ResultDir',
       'AvgSpeed', 'Heat', 'DewPoint', 'WetBulb', 'Cool', 'StnPressure',
       'Sunset', 'Sunrise', 'Depart', 'CodeSum', 'Month'],
      dtype='object')

Saving my test data

In [90]:
df.to_csv('../data/test_final_dataframe.csv')

# Feature Engineering

Description: Engineering features to further refine our data, and ready it for Preprocessing.

In [91]:
import numpy as np
import pandas as pd

In [92]:
df = pd.read_csv('../data/test_final_dataframe.csv', index_col=0, parse_dates=True)

In [93]:
df.reset_index(inplace=True)

**Adding Rolling & Expanded Means for Features -w- Shifted Dates**

These features were optimized through the use of our function that tests a range of rolling and expanding means and picks the one's that have the highest correlation with number of mosquitoes

In [94]:
#df['Day_length_exp'] = df['Day_length'].expanded().mean()

In [95]:
#df['Tavg_shift'] = df['Tavg'].rolling(1).mean().shift(7)

In [96]:
#df['Heat_exp'] = df['Heat'].expanding().mean()

In [97]:
#df['Cool_shift'] = df['Cool'].rolling(1).mean().shift(7)

In [98]:
#df['Tmax_shift'] = df['Tmax'].rolling(1).mean().shift(7)

In [99]:
#df['Tmin_shift'] = df['Tmin'].rolling(1).mean().shift(10)

In [100]:
#df['Depart_shift'] = df['Depart'].rolling(1).mean().shift(7)

In [101]:
#df['ResultSpeed_shift'] = df['ResultSpeed'].rolling(3).mean().shift(21)

In [102]:
#df['ResultDir_exp'] = df['ResultDir'].expanding().mean()

In [103]:
#df['PrecipTotal_exp'] = df['PrecipTotal'].expanding().mean()

In [104]:
#df['WetBulb_exp'] = df['WetBulb'].expanding().mean()

In [105]:
#df.loc[0:6, 'Tavg_shift'] = df.loc[7, 'Tavg_shift']

In [106]:
# df.loc[0:6, 'Cool_shift'] = df.loc[7, 'Cool_shift']

In [107]:
# df.loc[0:6, 'Tmax_shift'] = df.loc[7, 'Tmax_shift']

In [108]:
# df.loc[0:9, 'Tmin_shift'] = df.loc[10, 'Tmin_shift']

In [109]:
# df.loc[0:6, 'Depart_shift'] = df.loc[7, 'Depart_shift']

In [110]:
# df.loc[0:27, 'ResultSpeed_shift'] = df.loc[28, 'ResultSpeed_shift']

In [111]:
df['Day_length_shift'] = df['Day_length'].rolling(3).mean().shift(28)

In [112]:
df['Tavg_shift'] = df['Tavg'].rolling(3).mean().shift(14)

In [113]:
df['Heat_shift'] = df['Heat'].rolling(3).mean().shift(14)

In [114]:
df['Cool_shift'] = df['Cool'].rolling(3).mean().shift(14)

In [115]:
df['Tmax_shift'] = df['Tmax'].rolling(3).mean().shift(14)

In [116]:
df['Tmin_shift'] = df['Tmin'].rolling(3).mean().shift(14)

In [117]:
df['Depart_shift'] = df['Depart'].rolling(3).mean().shift(14)

In [118]:
df['ResultSpeed_shift'] = df['ResultSpeed'].rolling(1).mean().shift(21)

In [119]:
df['ResultDir_shift'] = df['ResultDir'].rolling(3).mean().shift(21)

In [120]:
#df['PrecipTotal_shift'] = df['PrecipTotal'].rolling().mean().shift()

In [121]:
df['WetBulb_shift'] = df['WetBulb'].rolling(3).mean().shift(14)

In [122]:
df.loc[0:27, 'Day_length_shift'] = df.loc[28, 'Day_length_shift']

In [123]:
df.loc[0:13, 'Tavg_shift'] = df.loc[14, 'Tavg_shift']

In [124]:
df.loc[0:13, 'Heat_shift'] = df.loc[14, 'Heat_shift']

In [125]:
df.loc[0:13, 'Cool_shift'] = df.loc[14, 'Cool_shift']

In [126]:
df.loc[0:13, 'Tmax_shift'] = df.loc[14, 'Tmax_shift']

In [127]:
df.loc[0:13, 'Tmin_shift'] = df.loc[14, 'Tmin_shift']

In [128]:
df.loc[0:13, 'Depart_shift'] = df.loc[14, 'Depart_shift']

In [129]:
df.loc[0:20, 'ResultSpeed_shift'] = df.loc[21, 'ResultSpeed_shift']

In [130]:
df.loc[0:20, 'ResultDir_shift'] = df.loc[21, 'ResultDir_shift']

In [131]:
df.loc[0:13, 'ResultDir_shift'] = df.loc[14, 'ResultDir_shift']

**Checking Resultant DataFrame**

In [132]:
df.head()

,Date,Id,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,...,Day_length_shift,Tavg_shift,Heat_shift,Cool_shift,Tmax_shift,Tmin_shift,Depart_shift,ResultSpeed_shift,ResultDir_shift,WetBulb_shift
0,2008-06-11,1,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.15,NaN,NaN
1,2008-06-11,2,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.15,NaN,NaN
2,2008-06-11,3,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.15,NaN,NaN
3,2008-06-11,4,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX SALINARIUS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.15,NaN,NaN
4,2008-06-11,5,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TERRITANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.15,NaN,NaN

In [133]:
df.shape

(116293, 38)

In [134]:
df.shape

(116293, 38)

In [135]:
df.columns

Index(['Date', 'Id', 'Address', 'Species', 'Block', 'Street', 'Trap',
       'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy',
       'Day_length', 'Tmax', 'Tmin', 'Tavg', 'ResultSpeed', 'ResultDir',
       'AvgSpeed', 'Heat', 'DewPoint', 'WetBulb', 'Cool', 'StnPressure',
       'Sunset', 'Sunrise', 'Depart', 'CodeSum', 'Month', 'Day_length_shift',
       'Tavg_shift', 'Heat_shift', 'Cool_shift', 'Tmax_shift', 'Tmin_shift',
       'Depart_shift', 'ResultSpeed_shift', 'ResultDir_shift',
       'WetBulb_shift'],
      dtype='object')

Saving our resulting dataframe

In [136]:
df.to_csv('../data/test_final_dataframe_features.csv')