In [1]:
from sklearn.model_selection import train_test_split
import numpy as np 
import pandas as pd
import pickle
from sklearn.model_selection import TimeSeriesSplit

In [2]:
df = pd.read_csv('../data/test_final_dataframe_features.csv',index_col=0)

In [3]:
df.drop(['CodeSum','Address','Block','AddressNumberAndStreet','AddressAccuracy'],axis=1,inplace=True)

In [4]:
df.columns

Index(['Date', 'Id', 'Species', 'Street', 'Trap', 'Latitude', 'Longitude',
       'Day_length', 'Tmax', 'Tmin', 'Tavg', 'ResultSpeed', 'ResultDir',
       'AvgSpeed', 'Sunset', 'Sunrise', 'Heat', 'Depart', 'DewPoint',
       'WetBulb', 'Cool', 'PrecipTotal', 'StnPressure', 'Month',
       'Day_length_exp', 'Tavg_shift', 'Heat_exp', 'Cool_shift', 'Tmax_shift',
       'Tmin_shift', 'Depart_shift', 'ResultSpeed_shift', 'ResultDir_exp',
       'PrecipTotal_exp', 'WetBulb_exp'],
      dtype='object')

In [5]:
df_object = pd.get_dummies(df[['Species']],columns = df[['Species']].columns)

In [6]:
df_object.shape

(116293, 8)

In [7]:
df = pd.concat([df,df_object], axis=1, join = 'outer')

In [8]:
df.drop(['Trap', 'Species'], axis=1, inplace = True)

In [9]:
df.head()

,Date,Id,Street,Latitude,Longitude,Day_length,Tmax,Tmin,Tavg,ResultSpeed,...,PrecipTotal_exp,WetBulb_exp,Species_CULEX ERRATICUS,Species_CULEX PIPIENS,Species_CULEX PIPIENS/RESTUANS,Species_CULEX RESTUANS,Species_CULEX SALINARIUS,Species_CULEX TARSALIS,Species_CULEX TERRITANS,Species_UNSPECIFIED CULEX
0,2008-06-11,1,N OAK PARK AVE,41.95469,-87.800991,54600,86.0,63.5,75.0,9.15,...,0.0,64.0,0,0,1,0,0,0,0,0
1,2008-06-11,2,N OAK PARK AVE,41.95469,-87.800991,54600,86.0,63.5,75.0,9.15,...,0.0,64.0,0,0,0,1,0,0,0,0
2,2008-06-11,3,N OAK PARK AVE,41.95469,-87.800991,54600,86.0,63.5,75.0,9.15,...,0.0,64.0,0,1,0,0,0,0,0,0
3,2008-06-11,4,N OAK PARK AVE,41.95469,-87.800991,54600,86.0,63.5,75.0,9.15,...,0.0,64.0,0,0,0,0,1,0,0,0
4,2008-06-11,5,N OAK PARK AVE,41.95469,-87.800991,54600,86.0,63.5,75.0,9.15,...,0.0,64.0,0,0,0,0,0,0,1,0

In [10]:
df.to_csv('../data/test2_final_dataframe_features.csv')