# Preprocessing: Creating dummy variables

In [21]:
from sklearn.model_selection import train_test_split
import numpy as np 
import pandas as pd
import pickle
from sklearn.model_selection import TimeSeriesSplit

Reading in my test data

In [22]:
df = pd.read_csv('../data/test_final_dataframe_features.csv',index_col=0)

### Dropping irrevelant and redundant features

I'm going to drop features that I shifted, as well as street, address, block, address number and street, as this information is redundant since we have latitude and longitude

In [23]:
df.drop(['PrecipTotal', 'Day_length', 'Tmax', 'Tmin', 'Tavg', 'ResultSpeed'
         , 'ResultDir', 'AvgSpeed', 'Sunset', 'Sunrise', 'Heat'
         , 'Depart', 'DewPoint','Cool','WetBulb', 'StnPressure'
         , 'CodeSum', 'Street', 'Address', 'Block', 'AddressNumberAndStreet',
          'AddressAccuracy'], axis=1, inplace=True)

In [24]:
df.columns

Index(['Date', 'Id', 'Species', 'Trap', 'Latitude', 'Longitude', 'Month',
       'Day_length_shift', 'Tavg_shift', 'Heat_shift', 'Cool_shift',
       'Tmax_shift', 'Tmin_shift', 'Depart_shift', 'ResultSpeed_shift',
       'ResultDir_shift', 'WetBulb_shift'],
      dtype='object')

### Creating a dataframe of dummy variables for the feature 'Species'.

In [25]:
df_object = pd.get_dummies(df[['Species']],columns = df[['Species']].columns)

In [26]:
df_object.shape

(116293, 8)

Concatinating my dataframe of dummy variables and my test data

In [27]:
df = pd.concat([df,df_object], axis=1, join = 'outer')

Dropping the variables of type object

In [28]:
df.drop(['Trap', 'Species'], axis=1, inplace = True)

In [29]:
df.head()

,Date,Id,Latitude,Longitude,Month,Day_length_shift,Tavg_shift,Heat_shift,Cool_shift,Tmax_shift,...,ResultDir_shift,WetBulb_shift,Species_CULEX ERRATICUS,Species_CULEX PIPIENS,Species_CULEX PIPIENS/RESTUANS,Species_CULEX RESTUANS,Species_CULEX SALINARIUS,Species_CULEX TARSALIS,Species_CULEX TERRITANS,Species_UNSPECIFIED CULEX
0,2008-06-11,1,41.95469,-87.800991,6,54600.0,75.0,0.0,10.0,86.0,...,18.0,64.0,0,0,1,0,0,0,0,0
1,2008-06-11,2,41.95469,-87.800991,6,54600.0,75.0,0.0,10.0,86.0,...,18.0,64.0,0,0,0,1,0,0,0,0
2,2008-06-11,3,41.95469,-87.800991,6,54600.0,75.0,0.0,10.0,86.0,...,18.0,64.0,0,1,0,0,0,0,0,0
3,2008-06-11,4,41.95469,-87.800991,6,54600.0,75.0,0.0,10.0,86.0,...,18.0,64.0,0,0,0,0,1,0,0,0
4,2008-06-11,5,41.95469,-87.800991,6,54600.0,75.0,0.0,10.0,86.0,...,18.0,64.0,0,0,0,0,0,0,1,0

Saving my pre-processed test data

In [30]:
df.to_csv('../data/test2_final_dataframe_features.csv')