# Submission: Creating a CSV file ready for Kaggle submission from our Random Forest model

In [84]:
import numpy as np 
import pandas as pd
import pickle

Reading in my test data that has been preprocessed

In [85]:
df_test = pd.read_csv('../data/test2_final_dataframe_features.csv',index_col=0)

Opening up my model and my X_train

In [86]:
with open('../assets/rf_0925_303.pkl', 'rb') as f:
    rf = pickle.load(f)

In [87]:
with open('../assets/X_train.pkl', 'rb') as f:
    X_train = pickle.load(f)

Setting the index for my test set

In [88]:
df_test.set_index('Id', inplace=True)

Getting my columns in the same order as X_train, the data set my model was fit on

In [89]:
df_test.columns

Index(['Date', 'Latitude', 'Longitude', 'Month', 'Day_length_shift',
       'Tavg_shift', 'Heat_shift', 'Cool_shift', 'Tmax_shift', 'Tmin_shift',
       'Depart_shift', 'ResultSpeed_shift', 'ResultDir_shift', 'WetBulb_shift',
       'Species_CULEX ERRATICUS', 'Species_CULEX PIPIENS',
       'Species_CULEX PIPIENS/RESTUANS', 'Species_CULEX RESTUANS',
       'Species_CULEX SALINARIUS', 'Species_CULEX TARSALIS',
       'Species_CULEX TERRITANS', 'Species_UNSPECIFIED CULEX'],
      dtype='object')

In [90]:
X_train.columns

Index(['Latitude', 'Longitude', 'Month', 'Day_length_shift', 'Tavg_shift',
       'Heat_shift', 'Cool_shift', 'Tmax_shift', 'Tmin_shift', 'Depart_shift',
       'ResultSpeed_shift', 'ResultDir_shift', 'WetBulb_shift',
       'Species_CULEX ERRATICUS', 'Species_CULEX PIPIENS',
       'Species_CULEX PIPIENS/RESTUANS', 'Species_CULEX RESTUANS',
       'Species_CULEX SALINARIUS', 'Species_CULEX TARSALIS',
       'Species_CULEX TERRITANS'],
      dtype='object')

In [91]:
test = df_test[X_train.columns]

Checking the shape of my test set

In [92]:
test.shape

(116293, 20)

Creating predicted probabilites for my model, but only capturing the probability from the second column

In [93]:
WNV = rf.predict_proba(test)[:,1]

Creating a dataframe of my predicted probabilites

In [94]:
data = {'WnvPresent': WNV}

In [95]:
submit = pd.DataFrame(data)

Saving my submission file

In [96]:
submit.set_index(df_test.index,inplace=True)

In [97]:
submit.to_csv('../data/rf_submission.csv')

Looking at the head of my submission file

In [99]:
submit.head(20)

    WnvPresent
Id
1     0.006750
2     0.006750
3     0.006750
4     0.006750
5     0.006750
6     0.006750
7     0.006750
8     0.006750
9     0.008179
10    0.008179
11    0.011750
12    0.008179
13    0.008179
14    0.008179
15    0.008179
16    0.008179
17    0.007250
18    0.006750
19    0.011750
20    0.006750