In [2]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv('../data/final_dataframe.csv', index_col=0, parse_dates=['Date'])

In [20]:
df.columns

Index(['Trap', 'Species', 'NumMosquitos', 'WnvPresent', 'Day_length', 'Tmax',
       'Tmin', 'Tavg', 'Day_length_shift', 'Tavg_shift', 'ResultSpeed',
       'ResultSpeed_shift', 'ResultDir', 'AvgSpeed', 'ResultDir_shift',
       'AvgSpeed_shift', 'Sunset', 'Sunrise', 'Heat', 'Depart', 'DewPoint',
       'WetBulb', 'Cool', 'CodeSum', 'PrecipTotal', 'StnPressure', 'Date',
       'Latitude', 'Longitude'],
      dtype='object')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8643 entries, 0 to 8642
Data columns (total 29 columns):
Trap                 8643 non-null object
Species              8643 non-null object
NumMosquitos         8643 non-null int64
WnvPresent           8643 non-null int64
Day_length           8643 non-null int64
Tmax                 8643 non-null float64
Tmin                 8643 non-null float64
Tavg                 8643 non-null float64
Day_length_shift     8557 non-null float64
Tavg_shift           8643 non-null float64
ResultSpeed          8643 non-null float64
ResultSpeed_shift    8643 non-null float64
ResultDir            8643 non-null float64
AvgSpeed             8643 non-null float64
ResultDir_shift      8643 non-null float64
AvgSpeed_shift       8643 non-null float64
Sunset               8643 non-null int64
Sunrise              8643 non-null int64
Heat                 8643 non-null float64
Depart               8643 non-null int64
DewPoint             8643 non-null float64
WetBulb              8643 non-null float64
Cool                 8643 non-null float64
CodeSum              8643 non-null object
PrecipTotal          8643 non-null float64
StnPressure          8643 non-null float64
Date                 8643 non-null datetime64[ns]
Latitude             8643 non-null float64
Longitude            8643 non-null float64
dtypes: datetime64[ns](1), float64(19), int64(6), object(3)
memory usage: 2.0+ MB

In [30]:
x = df['Date'].iloc[0]

In [34]:
df['Month'] = df['Date'].map(lambda x: x.month)

In [37]:
df.head()

,Trap,Species,NumMosquitos,WnvPresent,Day_length,Tmax,Tmin,Tavg,Day_length_shift,Tavg_shift,...,DewPoint,WetBulb,Cool,CodeSum,PrecipTotal,StnPressure,Date,Latitude,Longitude,Month
0,T002,CULEX PIPIENS/RESTUANS,1,0,1496,88.0,62.5,75.5,NaN,66.0,...,53.45788,65.5,10.5,BR HZ,0.0,29.415,2007-05-29,41.954690,-87.800991,5
1,T002,CULEX RESTUANS,1,0,1496,88.0,62.5,75.5,NaN,66.0,...,53.45788,65.5,10.5,BR HZ,0.0,29.415,2007-05-29,41.954690,-87.800991,5
2,T007,CULEX RESTUANS,1,0,1496,88.0,62.5,75.5,NaN,66.0,...,53.45788,65.5,10.5,BR HZ,0.0,29.415,2007-05-29,41.994991,-87.769279,5
3,T015,CULEX PIPIENS/RESTUANS,1,0,1496,88.0,62.5,75.5,NaN,66.0,...,53.45788,65.5,10.5,BR HZ,0.0,29.415,2007-05-29,41.974089,-87.824812,5
4,T015,CULEX RESTUANS,4,0,1496,88.0,62.5,75.5,NaN,66.0,...,53.45788,65.5,10.5,BR HZ,0.0,29.415,2007-05-29,41.974089,-87.824812,5

In [ ]:
df.to_csv('../data/final_dataframe.csv')