In [3]:
import pandas as pd
import numpy as np

In [4]:
train = pd.read_csv('../data/train_clean.csv',  index_col='Date', parse_dates=['Date'])
spray = pd.read_csv('../data/updated_spray.csv', index_col='Date', parse_dates=['Date'])
weather = pd.read_csv('../data/weather.csv', index_col='Date', parse_dates=['Date'])

In [5]:
train.shape

(9693, 12)

In [6]:
weather.shape

(2944, 21)

In [7]:
spray.head()

            Unnamed: 0   Latitude  Longitude             DateTime
Date
2011-08-29           0  42.391623 -88.089163  2011-08-29 18:56:58
2011-08-29           1  42.391348 -88.089163  2011-08-29 18:57:08
2011-08-29           2  42.391022 -88.089157  2011-08-29 18:57:18
2011-08-29           3  42.390637 -88.089158  2011-08-29 18:57:28
2011-08-29           4  42.390410 -88.088858  2011-08-29 18:57:38

In [8]:
weather_stn1 = weather[weather['Station']==1]
weather_stn2 = weather[weather['Station']==2]
weather_stn1 = weather_stn1.drop('Station', axis=1)
weather_stn2 = weather_stn2.drop('Station', axis=1)
weather = weather_stn1.merge(weather_stn2, on='Date')

In [9]:
df = pd.merge(train, weather, on = 'Date')

In [10]:
df.shape

(9693, 52)