In [11]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostClassifier
from sklearn.pipeline import Pipeline
from sklearn.grid_search import GridSearchCV
from sklearn.metrics import confusion_matrix
import pickle
import matplotlib.pyplot as plt

In [12]:
X_train = pd.read_pickle('../assets/X_train.pkl')
X_test = pd.read_pickle('../assets/X_test.pkl')
y_train = pd.read_pickle('../assets/y_train.pkl')
y_test = pd.read_pickle('../assets/y_test.pkl')

In [13]:
pipe = Pipeline([
    ('ada',AdaBoostClassifier()),
    
])

In [15]:
param_grid =  {
 'ada__n_estimators':[10,20,30,60,70,80],
 'ada__learning_rate':np.linspace(.001,.95,50)
}

In [16]:
gs = GridSearchCV(pipe, param_grid=param_grid,verbose=1,scoring='roc_auc')

In [17]:
gs.fit(X_train,y_train)

Fitting 3 folds for each of 300 candidates, totalling 900 fits

[Parallel(n_jobs=1)]: Done 900 out of 900 | elapsed:  3.0min finished

GridSearchCV(cv=None, error_score='raise',
       estimator=Pipeline(memory=None,
     steps=[('ada', AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None))]),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'ada__n_estimators': [10, 20, 30, 60, 70, 80], 'ada__learning_rate': array([0.001  , 0.02037, 0.03973, 0.0591 , 0.07847, 0.09784, 0.1172 ,
       0.13657, 0.15594, 0.17531, 0.19467, 0.21404, 0.23341, 0.25278,
       0.27214, 0.29151, 0.31088, 0.33024, 0.34961, 0.36898, 0.38835,
       0....69, 0.79506,
       0.81443, 0.8338 , 0.85316, 0.87253, 0.8919 , 0.91127, 0.93063,
       0.95   ])},
       pre_dispatch='2*n_jobs', refit=True, scoring='roc_auc', verbose=1)

In [18]:
gs.score(X_train,y_train)

0.8464674230976229

In [19]:
gs.score(X_test,y_test)

0.7103972335388885

In [20]:
X_train_preds = gs.predict(X_train)

In [21]:
preds = pd.DataFrame({
    "preds":X_train_preds,
    "truth":y_train
})

In [22]:
preds.sum()

preds      0
truth    261
dtype: int64

In [23]:
gs.best_params_

{'ada__learning_rate': 0.17530612244897958, 'ada__n_estimators': 10}

In [24]:
y_train.shape

(6483,)

In [25]:
X_train.shape

(6483, 37)

In [26]:
X_train_preds.shape

(6483,)

In [29]:
preds.head()

   preds  truth
0      0      0
1      0      0
2      0      0
3      0      0
4      0      0

In [27]:
with open('../assets/ada_boost_model.pkl','wb+') as f:
    pickle.dump(gs,f)

In [28]:
X_train.head()

,Day_length,Tmax,Tmin,Tavg,ResultSpeed,ResultDir,AvgSpeed,Sunset,Sunrise,Heat,...,ResultDir_exp,PrecipTotal_exp,WetBulb_exp,Species_CULEX ERRATICUS,Species_CULEX PIPIENS,Species_CULEX PIPIENS/RESTUANS,Species_CULEX RESTUANS,Species_CULEX SALINARIUS,Species_CULEX TARSALIS,Species_CULEX TERRITANS
0,53760,88.0,62.5,75.5,5.8,17.0,6.95,1917,421,0.0,...,17.0,0.0,65.5,0,0,1,0,0,0,0
1,53760,88.0,62.5,75.5,5.8,17.0,6.95,1917,421,0.0,...,17.0,0.0,65.5,0,0,0,1,0,0,0
2,53760,88.0,62.5,75.5,5.8,17.0,6.95,1917,421,0.0,...,17.0,0.0,65.5,0,0,0,1,0,0,0
3,53760,88.0,62.5,75.5,5.8,17.0,6.95,1917,421,0.0,...,17.0,0.0,65.5,0,0,1,0,0,0,0
4,53760,88.0,62.5,75.5,5.8,17.0,6.95,1917,421,0.0,...,17.0,0.0,65.5,0,0,0,1,0,0,0