In [39]:
import numpy as np
import pandas as pd
import pickle
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.grid_search import GridSearchCV
from sklearn.linear_model import LogisticRegression

In [40]:
X_train = pd.read_pickle('../assets/X_train.pkl')
X_test = pd.read_pickle('../assets/X_test.pkl')
y_train = pd.read_pickle('../assets/y_train.pkl')
y_test = pd.read_pickle('../assets/y_test.pkl')

In [41]:
pipe = Pipeline([
    ('ss',StandardScaler()),
    ('lr',LogisticRegression(solver='liblinear')),    
])

In [23]:
param_grid =  {
    'lr__penalty':['l1','l2'],
    'lr__C': np.linspace(.001,.95,50)
        
}

In [42]:
gs = GridSearchCV(pipe, param_grid=param_grid,verbose=1,scoring='roc_auc')

In [ ]:
gs.fit(X_train,y_train)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

In [ ]:
gs.score(X_train,y_train)

In [ ]:
gs.score(X_test,y_test)

In [ ]:
X_train_preds = gs.predict(X_train)

In [29]:
preds = pd.DataFrame({
    "preds":X_train_preds,
    "truth":y_train
})

In [37]:
preds.sum()

preds      0
truth    261
dtype: int64

In [38]:
gs.best_params_

{'lr__C': 0.001, 'lr__penalty': 'l1'}

In [31]:
y_train.shape

(6483,)

In [32]:
X_train.shape

(6483, 173)

In [33]:
X_train_preds.shape

(6483,)

In [34]:
preds

      preds  truth
0         0      0
1         0      0
2         0      0
3         0      0
4         0      0
5         0      0
6         0      0
7         0      0
8         0      0
9         0      0
10        0      0
11        0      0
12        0      0
13        0      0
14        0      0
15        0      0
16        0      0
17        0      0
18        0      0
19        0      0
20        0      0
21        0      0
22        0      0
23        0      0
24        0      0
25        0      0
26        0      0
27        0      0
28        0      0
29        0      0
...     ...    ...
6453      0      0
6454      0      0
6455      0      0
6456      0      0
6457      0      0
6458      0      0
6459      0      0
6460      0      0
6461      0      0
6462      0      0
6463      0      0
6464      0      0
6465      0      0
6466      0      0
6467      0      0
6468      0      0
6469      0      0
6470      0      0
6471      0      0
6472      0      0
6473      0      0
6474      0      0
6475      0      0
6476      0      0
6477      0      0
6478      0      1
6479      0      0
6480      0      0
6481      0      0
6482      0      0

[6483 rows x 2 columns]

In [36]:
with open('../assets/logistic_regression.pkl','wb+') as f:
    pickle.dump(gs,f)