In [34]:
from sklearn.model_selection import train_test_split
import numpy as np 
import pandas as pd
import pickle
from sklearn.model_selection import TimeSeriesSplit

In [18]:
df = pd.read_csv('../data/final_dataframe_features.csv',index_col=0)

In [23]:
# df.drop(['CodeSum'],axis=1,inplace=True)

In [24]:
df.columns

Index(['Trap', 'Species', 'NumMosquitos', 'WnvPresent', 'Day_length', 'Tmax',
       'Tmin', 'Tavg', 'ResultSpeed', 'ResultDir', 'AvgSpeed', 'Sunset',
       'Sunrise', 'Heat', 'Depart', 'DewPoint', 'WetBulb', 'Cool',
       'PrecipTotal', 'StnPressure', 'Date', 'Latitude', 'Longitude', 'Month',
       'Day_length_exp', 'Tavg_shift', 'Heat_exp', 'Cool_shift', 'Tmax_shift',
       'Tmin_shift', 'Depart_shift', 'ResultSpeed_shift', 'ResultDir_exp',
       'PrecipTotal_exp', 'WetBulb_shift', 'DewPoint_shift'],
      dtype='object')

In [25]:
df_object = pd.get_dummies(df[['Trap','Species']],columns = df[['Trap','Species']].columns)

In [27]:
df_object.shape

(8537, 143)

In [28]:
df = pd.concat([df,df_object], axis=1, join = 'outer')

In [31]:
df.drop(['Trap', 'Species'], axis=1, inplace = True)

In [32]:
df.head()

,NumMosquitos,WnvPresent,Day_length,Tmax,Tmin,Tavg,ResultSpeed,ResultDir,AvgSpeed,Sunset,...,Trap_T238,Trap_T900,Trap_T903,Species_CULEX ERRATICUS,Species_CULEX PIPIENS,Species_CULEX PIPIENS/RESTUANS,Species_CULEX RESTUANS,Species_CULEX SALINARIUS,Species_CULEX TARSALIS,Species_CULEX TERRITANS
106,2,0,54780,91.5,71.5,81.5,6.7,21.5,7.6,1931,...,0,0,0,0,0,1,0,0,0,0
107,3,0,54780,91.5,71.5,81.5,6.7,21.5,7.6,1931,...,0,0,0,0,0,0,1,0,0,0
108,1,0,54780,91.5,71.5,81.5,6.7,21.5,7.6,1931,...,0,0,0,0,0,0,1,0,0,0
109,1,0,54780,91.5,71.5,81.5,6.7,21.5,7.6,1931,...,0,0,0,0,0,0,1,0,0,0
110,5,0,54780,91.5,71.5,81.5,6.7,21.5,7.6,1931,...,0,0,0,0,0,1,0,0,0,0

In [33]:
X = df.loc[:, df.columns != 'WnvPresent']
y = df['WnvPresent']

In [39]:
tss = TimeSeriesSplit(n_splits = 3)

In [51]:
for train_index, test_index in tss.split(X):
    X_train, X_test = X.iloc[train_index, :], X.iloc[test_index,:]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

In [52]:
pd.to_pickle(X_train,'../data/X_train.pkl')

In [56]:
pd.to_pickle(X_test,'../data/X_test.pkl')

In [57]:
pd.to_pickle(y_train,'../data/y_train.pkl')

In [58]:
pd.to_pickle(y_test,'../data/y_test.pkl')